body{
    background: goldenrod;
}
h1{
    font-size: 72px;
    color: whitesmoke;
    text-align: center;
}
p{
    font-size: 34px;
    color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
img{
    width: 380px;
    height: 370px;
    margin: 30px;
    margin-left: 168px;
}
.cabecalho{
    background-color: white;
}
.lista_cabecalho{
    display: flex;
    margin-left: 250px;
}
.item_lista_cabecalho{
    color: black;
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 268px;
}
.pele{
    margin-left: 600px;
}
